backups/
blueprints/
config/**/*
!config/supplementaries*.toml
!config/vampirism-common.toml
crash-reports/
downloads/
journeymap/
local/
logs/
mod_data/
saves/
schematics/
screenshots/
knownkeys.txt
options.txt
rhino.local.properties
usercache.json
usernamecache.json
scripts/
banned-ips.json
banned-players.json
ops.json
whitelist.json