*
!*/
!*/config/aether-client.toml
!*/config/blue_skies-client.toml
!*/config/epicfight-client.toml
!*/config/packmenu.cfg
!*/config/supplementaries*.toml
!*/config/vampirism-common.toml
!*/defaultconfigs/*
!*/kubjs/*
!*/mods/*
!*/packmenu/*
!*/shaderpacks/*
!*/.curseclient
!*/minecraftinstance.json
!*/servers.dat