backups/
crash-reports/
downloads/
journeymap/
lightspeed-cache/
local/
logs/
paintings/
plugins/
saves/
schematics/
scripts/
structurize/
waterframes_cache/
manifest.json
modlist.html
libvlc.dll
libvlccore.dll
options.txt
servers.dat
servers.dat_old
usercache.json
usernamecache.json
WailaErrorOutput.txt